{% extends "core/templates/base_index.html" %}
{% block content %}
    <div class="page-container">
        <p>Hello, I'm Chris Moulton, artist, programmer, and lover of ideas. Welcome to my site! Here's some stuff I've been working on:</p>
        <div class="animated-selection">
             <div class="carousel" id="carousel">
                <button class="prev">&#10094;</button>
                <div id="carousel-cont"class="carousel-images">
                <a href="/space-invaders"><p class="vibe-code label">VIBE CODED🤙</p><img src="/static/img/space-invaders.png" class="carousel-img active" /></a>
                 <a href="/shape-quest"><p class="vibe-code label">VIBE CODED🤙</p><img src="/static/img/shape-quest.png" class="carousel-img" /></a> 
                <!-- <a href="/"><img src="https://picsum.photos/id/1018/800/400" class="carousel-img" /></a> -->
                </div>
                    <button class="next">&#10095;</button>
                </div>
                </div>
        <!-- <a href="/calculator">Calculator (put all calculator prototype functionality here)</a>
        <br> -->
        <p>
            If you'd like to know more check these out:
        </p>
        <br>
        <a href="/work">Work</a>
        <!-- <br> -->
        <!-- <a href="/notebooks">Notebooks</a> -->
        <br>
        <a href="/info">Information</a>

    
    </div>

    <script type="module" src="{{ url_for('static', filename='js/backgrounds/homeBackground.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/carousel.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}