{% extends "core/templates/base.html" %}
{% block content %}
    <div class="page-container">
        <h2>Links</h2>
        <p>
            Social media is out of date. I've been busy, and 
            I try to avoid it most of the time. It is probably, however, 
            the best way to contact me.
        </p>
        <a href="https://x.com/chrismDev_">X</a>
        <!-- <a href="https://christophermoulton.substack.com/">Substack</a> -->
        <a href="https://www.linkedin.com/in/chris-moulton-466153232/">LinkedIn</a>
        <a href="https://www.instagram.com/philogenesis_/">Instagram</a>
        <a href="https://github.com/chrism47">GitHub</a>
        <p>Email: cmdevbus@gmail.com</p>

    

        
<script type="module" src="/static/js/backgrounds/linkBackground.js"></script>
{% endblock %}