{% extends "core/templates/base.html" %}
{% block content %}
    <div class="page-container">
        <h2>Work</h2>
        <p>
            I like to showcase projects along the way (exploration is the best part of working at the intersection of art and code)
            so some of these are unfinished. 
            Follow one of my <a href="/link-page">social media links</a>for updates. 
        </p>

        <h3>My Projects:</h3>
        <p>
            These are the projects that I'm most excited about.
            If I had it my way, I'd just work on this stuff all the time.
        </p>
        <a class="work-preview-img" href="/al-g" ><img class="work-preview-img" src="static/img/al-g-1.png"/><p>al-g: Art Generator</p></a>
        <!-- <a href="/kicking-stickman">Kicking Stickman</a> -->
        <!-- <a href="/robot">Robot</a> -->
        <!-- <a href="/data-board">Data Board</a> -->
        <br>
        
        <h3>Vibe Codes:</h3>
        <p>
            These are some fun projects built by AI. I try to
            only share those that feel substantial without much
            prompting or bug fixing. They're not finished games,
            but they're an interesting look into the current code-writing capabilities of LLM's.
        </p>
        <a class="work-preview-img" href="/space-invaders" ><img class="work-preview-img" src="static/img/space-invaders.png"/><p>3D Space Shooter</p></a>
        <a class="work-preview-img" href="/shape-quest"><img class="work-preview-img" src="static/img/shape-quest.png"/><p>Shape Quest</p></a>        
        <!-- <br>
        <h3>Content</h3>
        <p>
            Sometimes I write or explore other mediums.
        </p>
        <a>[Links to YT, Substack, etc.]</a> -->
    </div>
    
        <script type="module" src="{{ url_for('static', filename='js/backgrounds/workBackground.js') }}"></script>

{% endblock %}