.article1-head {
    background-color: red;
}

.note-container {
    margin: 3%;
    background-color: #81cb321f;
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 200px;
}

.codehilite {
    background-color: rgba(0, 0, 0, 0.486);
    
}

img {
    width: 100%;
}


    
