body {
    margin: 20px;
    color: #81CB32;
    background-color: black;
    font-family: "Inconsolata", monospace;
    padding-bottom: 200px;
}
a {
    color: #81CB32;
    text-decoration: none;   
}
.page-container a {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #81CB32;
    display: inline-block; /* or block */
    padding: 10px;
    margin: 10px;
    
}
.page-container #carousel-cont a {
    border-style: none;
    border: none;
    /* display: none; */
    padding: 0;
    margin: 0;
}

.page-container {
    font-family: "Inconsolata", monospace;
    
}

textarea::placeholder {
    color: rgba(113, 255, 47, 0.253);
    opacity: 5 /* Ensure it's fully visible */
}
#math-display {
    margin-top: 20px;
    font-size: 1.5em;
    text-align: center;
}
#math-input {
    margin-top: 20px;
    background-color: black;
    color: #81CB32;
    /* border: none; */
    border-color: #81CB32;
    height: 100px;
    width: 100%;
    border-radius: 5px;
}
#threejs-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #81CB32;
    text-align: center;
    padding: 10px;
    font-size: 10px;
}
.page-container {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.767);
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    /* margin: 10px; */
}
.background-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.page-container div.animated-selection {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.767);
    color: #81CB32;
    border-color: #81CB32;
    width: fit-content;
    
    border-radius: 5px;
    border-style: solid;
    border-width: 1px 0px 1px 0px; 
    
}
.page-nav-menu {
    background-color: #81CB32;
    opacity: 80%;
    position: fixed;
    top: 20px;
    right: 5%;
    /* border-style:solid; */
    display: flex;
    justify-content: left;
    border-radius: 12px;
}
.page-nav-menu a {
    color: black;
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;   
    background-color: #81cb32b0;
    /* opacity: 100; */
    border-width: 1px;

}
.al-g-box, .background-window{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Sends it behind other elements */

}
.note-display {
    height: fit-content;
    width: 100%;
}

.carousel {
    aspect-ratio: 16 / 9;
      max-height: 35vw;
      width: 100%;
      overflow: hidden;
      position: relative;
      width: 100%;
      /* max-width: 100%; */
      height: 60vw;
      /* max-height: 300px; */
      /* margin: 40px ; */
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 0 2px 2px 1px #81cb32b0;
      background: #00000000;
      touch-action: pan-y;
     
    }

    .carousel-images {
      display: flex;
      height: 100%;
      transition: transform 0.5s ease;
            justify-content: center;

    }

    .carousel-img {
      /* min-width: 100%; */
      height: 100%;
      justify-content: center;
      object-fit: contain;
      display: none;
    }

    .carousel-img.active {
      display: block;
    }

    button.prev, button.next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(28, 114, 6, 0.233);
      border: none;
      border-radius: 10px;
      
      color: #81cb32fb;
      padding: 10px;
      cursor: pointer;
      z-index: 1;
      font-size: 2em;
      user-select: none;
    }

    button.prev { left: 10px; }
    button.next { right: 10px; }
@media (max-width:700px){
    .page-container div.animated-selection {
            width: 100%;

    }
    .carousel {
        max-height: 60vw;

    }
}
