{% extends "base.html" %}
{% block content %}
    <div class="page-container">
        <h1>al-g</h1>
        <p> An artistic CS project</p>
        <div id="threejs-container" class="al-g-box"></div> <!-- Placeholder for Three.js canvas -->

        <form id="scene-controls">
            <label>Wireframe: 
                <input type="checkbox" id="wireframe"></label>
            <label>Light Intensity: 
                <input type="range" id="lightIntensity" min="0" max="2" step="0.1" value="1"></label>

            <label>
            Background Color:
                <input type="color" id="bgColor" value="#000000" />
            </label>
            <label>Object Color: 
                <input type="color" id="objectColor" value="#00ff00">
            </label>
            <label>
            X Rotation Speed:
                <input type="range" id="rotationSpeedX" min="0" max="0.1" step="0.001" value="0.01" />
            </label>
            <label>
            Y Rotation Speed:
                <input type="range" id="rotationSpeedY" min="0" max="0.1" step="0.001" value="0.01" />
            </label>
            
        </form>
        
    </div>
    <!-- Your custom JavaScript -->
    <script type="module" src="{{ url_for('static', filename='js/al-g/al-g-test.js') }}"></script>
{% endblock %}