<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask, Katex, and Three.js{% endblock %}</title> 
    <script type="importmap">
        {
          "imports": {
            "three": "https://cdn.jsdelivr.net/npm/three@0.172.0/build/three.module.js",
            "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.172.0/examples/jsm/"
            
          }
        }
    </script>
    <!-- KaTeX CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.6/dist/katex.min.css">

    <script src="
https://cdn.jsdelivr.net/npm/marked@15.0.12/lib/marked.umd.min.js
"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet"><!-- Your custom CSS -->
    
    
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        
            <a href="/"> <h1>CMDev_</h1></a> 
            <div class="page-nav-menu"> 
                <a href="/work">Work</a>
                <a href="/info">Info</a>
            </div>
            
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- KaTeX JS -->
        <script src="https://cdn.jsdelivr.net/npm/katex@0.16.6/dist/katex.min.js"></script>
        <p>&copy; 2025 CMDev_</p>
    </footer>
</body>
</html>
