{% extends "base.html" %}
{% block content %}

    <div class="page-container">
    {% for i in range(text_count): %}
    
    
    <a class="note-display" href="/notebooks/{{ md_files[i] }}">
        <h1>Title: {{ preview_text[i].title|markdown }}</h1>
        <p>{{ " ".join(preview_text[i].preview)|markdown }}</p>
    </a>
    <br>
    {% endfor %}

    </div>
    <!-- Your custom JavaScript -->
    <script type="module" src="{{ url_for('static', filename='js/notebooks.js') }}"></script>
{% endblock %}