{% extends "base.html" %}
{% block content %}
    <div class="page-container">
        <h2>Work</h2>
        <p>
            I like to showcase projects along the way (exploration is the best part of working at the intersection of art and code)
            so some of these are unfinished. 
            Follow one of my <strong><a href="/info">social media links</a></strong>for updates. 
        </p>

        <h3>Personal Projects</h3>
        <p>
            These are the projects that I'm most excited about.
            If I had it my way, I'd just work on this stuff all the time.
        </p>
        <a href="/al-g">al-g (currently just a donut shader)</a>
        <a>Game Demo (coming soon)</a>
        <a>My Robot (coming soon)</a>
        <br>
        
        <h3>Vibe Codes</h3>
        <p>
            These are some fun projects built by AI. I try to
            only share those that are interesting without much
            prompting or bug fixing. 
        </p>
        <a href="/space-invaders" >3D Space Invaders</a>
        <!-- <a href="/"></a>
        <a href="/"></a> -->
        
        <br>
        <h3>Content</h3>
        <p>
            Sometimes I write or explore other mediums.
        </p>
        <a>[Links to YT, Substack, etc.]</a>
    </div>
    
        <script type="module" src="{{ url_for('static', filename='js/workBackground.js') }}"></script>

{% endblock %}