{% extends "core/templates/base.html" %}

{% block content %}
<div class="page-container">
<h1>a-Gent</h1>
        <p> 
            An AI powered portfolio assistant. a-Gent has a conversational
            interface and the ability to scan this website for new information about
            my work. 
        </p>
        <p>
          Be mindful, this is a rate-limited chat so, it will break if it's abused.
        </p>
        <p>
          Still in development, but conversational and ready to answer your questions: 
        </p>
        
        <a href="/a-gent/chat">
            Check it out
        </a>
        </div>
        
        
        <!-- <script type="module" src="{{ url_for('static', filename='js/al-g/alGMain.js') }}"></script> -->
{% endblock %}